# mknod.service
[Unit]
Description=Create device nodes for fake nvidia driver
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/fake-nvidia-mknod.sh

[Install]
WantedBy=multi-user.target